.flex {
    display: flex;
}

.project_intro {
    flex-direction: row;
}

.project_intro_center{
    align-items: center;
}

.project_buttons{
    margin: 2rem;
    text-align: center;
    margin: 0px 2rem;
}

.project_buttons p{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.disc_button{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.art-contributions{
    justify-content: center;
}

.art_contributions{
    margin: 2rem;
}

.art_contributions_text{
    max-width: 50%;
    margin: 2rem;
}

.subtitle {
    text-align:center;
    padding-bottom: 5vh;
}

.demigod_daycare__navbar {
    background-image: var(--gradient),
        url('/images/demigod_banner_01.png');
}

.gotta_gobot__navbar {
    background-image: var(--gradient),
        url('/images/banner_01.png');
}

.wpi_events__navbar {
    background-image: var(--gradient),
        url('/images/weimages/pax_banner.jpg');
}

/*bingbong*/

.operation_breadcrumbs__navbar {
    background-image: var(--gradient),
        url('/sincerelyrobin/images/libraryHeroMirror.png');
}

main {
    flex-direction: column;    
    h1, h2 {
        padding: 10vh 0 1vh 0;
        text-align: center;
    }

    figure {
        padding-top: 10vw;
    }

    img {
        width: 10vw;
    }

    .kitchen {
        width: 50vw;
    }

    iframe {
        width: 100%;
        height: 300px;
        /*margin: 0 12vw;*/
        display: flex;
        justify-content: center;
    }

    section {
        flex-direction: column;
        width: 100vw;
    }

    span {
        flex-direction: row;
        justify-content: space-evenly;
    }

    span div {
        padding: 5%;
        max-width: 33vw;
    }
}


/* heres my new attempt at reactive website*/

/*TITLE SECTION*/

.project-title {
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}

.project-intro {
    flex-wrap: wrap;
    padding: 0px 10%;
}

.project-intro-image {
    /*background-image: url('/images/obimages/kitchen.png');*/
    width: 50%;
}

.project-intro-buttons{
    padding: 2rem;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.project-intro-desc{
    width: 50%;
    padding: 2rem 1rem;
}

.project-intro-specs{
    width: 50%;
    padding: 2rem 4rem;
}

.project-intro-specs p{
    text-align: center;
}

.project-intro-image img{
    width: 100%;
}

.project-content p {
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 11pt;
    font-weight: 300;
}

.project-content img {
    width: 100%;
}

/*ART SECTION*/

.project-art{
    flex-wrap: wrap;
    padding: 1rem 5rem;
}

.half-block{
    width: 50%;
    padding: 1rem;
}

.full-block{
    width: 100%;
    padding: 1rem;
}

.project-content li{
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 4px;
}

.project-art-gallery-text{
    padding: 2rem;
}

.project-content h2{
    padding: 1rem;
}

.project-art img {
    width: 100%;
}

/*PRODUCTION SECTION*/

.project-production{
    flex-wrap: wrap;
}

.column-block{
    flex-direction: column;
}

.project-production{
    padding: 1rem 5rem;
}

.production-desc{
}

.production-tools{
    flex-wrap: wrap;
}

.production-tools img{
    width: 30%;
    height: 30%;
    padding: 1rem;
}

.tool-desc{
    width: 70%;
    padding: 1rem;
}

.production-layers-desc{
    height: 5rem;
    background-color:blue;
}

.production-layers-diagram{
    height: 5rem;
    background-color:darkgoldenrod;
}

/*WPI events*/

.joyart-container{
    flex-wrap: wrap;
    padding: 1rem 5rem;
}

.pax-container{
    flex-wrap: wrap;
    padding: 1rem 5rem;
}

.internal-events-container{
    flex-wrap: wrap;
    padding: 1rem 5rem;
}

.block-desc{
    padding: 4rem 2rem;
}

.block-desc p{
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 4px;
}

.project-intro-specs-1{
    padding-top: 6rem;
}

/*about me page*/

.about-me-image img{
    width: 70%;
    border-radius: 50%;
}

.about-me-image{
    text-align:center;
    text-indent: 0rem;
}

.about-me-content{
    flex-wrap:wrap;
    padding: 6rem;
    padding-top:3rem;
    text-indent:2rem;
    p{
        font-family: 'Lato', 'Josefin Sans', sans-serif;
        font-size: 14pt;
        font-weight: 300;
        text-align: left;
        padding-top: 2px;
        padding-bottom: 4px;
    }
}

.about-me-text {
    padding: 2rem;
    padding-top: 6rem;
}

/*RESPONSIVE STUFF*/

@media screen and (max-width: 1024px) {
    .about-me-text {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 900px) {
    .about-me-text {
        width: 100%;
    }

    .about-me-image {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .project-intro-image {
        width: 100%;
    }
    
    .project-intro-buttons{
        width: 100%;
    }
    
    .project-intro-desc{
        width: 100%;
        padding: 5px 0px;
    }
    
    .project-intro-specs{
        width: 100%;
        padding: 1.5rem 0px;
    }

    .project-intro-specs p{
        text-align: left;
    }
    
    .disc_button {
        padding-top: .5rem;
        padding-bottom: .5px;
    }
    
    .project-art{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .project-production{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .half-block{
        width: 100%;
    }

    .me-image img{
        width: 100%;
    }

    .block-desc{
        padding: 0rem;
    }

    .joyart-container, .pax-container, .internal-events-container{
        padding: 2rem;
    }

    main h1{
        padding-top: 2rem;
    }

    .about-me-content{
        padding: 2rem;
    }

    .about-me-text{
        padding: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .production-tools{
        justify-content: center;
    }

    .production-tools img{
    width: 50%;
    height: 50%;
    }

    .tool-desc{
        width: 100%;
    }
}

.project-title img {
    align-self: center;
    width:100%;
}

.add-padding-top {
    padding-top:2rem;
}

.add-padding-sides {
    padding-left:2rem;
    padding-right:2rem;
}